
        .body-initial {
            background-color: rgb(38, 38, 38); 
        }
        .background-initial {
            background-color: rgba(149,250,255,1); 
            top: 5px; 
            left: 75px; 
            width: 851px; 
            min-height: 996px; 
        }
        .silex-id-1474999592622-0 {
            min-height: 115px; 
            width: 472px; 
            top: 712px; 
            left: 171px; 
            background-color: rgba(255,205,210,1); 
        }
        .silex-id-1474999998362-2 {
            min-height: 546px; 
            width: 491px; 
            top: 166px; 
            left: 160px; 
        }
        .silex-id-1442914589168-2 {
            min-height: 50px; 
            width: 400px; 
            top: 635px; 
            left: 6px; 
            background-color: transparent; 
        }
        .silex-id-1442914737143-3 {
            min-height: 28px; 
            width: 250px; 
            top: 13px; 
            left: 80px; 
        }
    